
/Hostello_App_1/nbproject/private/
/dist/
/build/build/classes/


build/
nbproject/private/
src/view/RoomViewFix.java
src/view/RoomViewFix.form
*.class
.idea/

/nbproject/private/

# Ignore NetBeans private configs
nbproject/private/
Hostello_App_1/nbproject/

# Ignore build artifacts
build/
build/build/classes/
dist/

# Ignore compiled classes
*.class

