# Ignore NetBeans private configs
nbproject/private/
Hostello_App_1/nbproject/private/

# Ignore build artifacts
build/
build/build/classes/
dist/
Hostello_App_1/build/
Hostello_App_1/dist/

# Ignore compiled classes
*.class
